rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /consultations/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow update: if request.auth != null;
    }
  }
}